PORT=5050
NODE_ENV=development
MONGODB_URI=tu_uri_de_mongodb
JWT_SECRET=tu_clave_secreta
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
GOOGLE_CLIENT_ID=tu_google_client_id
GOOGLE_CLIENT_SECRET=tu_google_client_secret
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
RESEND_API_KEY=tu_resend_api_key
EMAIL_FROM=ComoEnCasa <noreply@comoencasarivas.com>
